# MongoDB Connection connection string
# Standard local format is: mongodb://127.0.0.1:27017/threejs_viewer
# For cloud MongoDB Atlas this looks like: mongodb+srv://<username>:<password>@cluster.mongodb.net/
MONGO_URI=mongodb://127.0.0.1:27017/threejs_viewer

# Backend Express API Port
# Defaults to 5000 if not specified
PORT=5000
